@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #09090a;
  color: #eae9ed;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  background-color: #09090a;
  padding: 30px 0;
  align-items: center;
}

.pagination a {
  padding: 10px 15px;
  border-radius: 5px;
  color: #767688;
  background-color: #1d1d26;
  margin-right: 7px;
  font-weight: 800;
}

@media only screen and (max-width: 604px) {
  .pagination a {
    padding: 6px 9px;
    border-radius: 3px;
    margin-right: 4px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 462px) {
  .pagination a {
    padding: 4px 7px;
    border-radius: 2px;
    margin-right: 2px;
  }
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #353547;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
